{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sobre Nosotros</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Nutriti di Conoscimento</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
    Nutriti di Conoscimento

    En Nutriti di Conoscimento, celebramos la diversidad de la palabra escrita y su capacidad para abrir ventanas a mundos infinitos de sabiduría y aventura. Somos una librería dedicada a brindarte un acceso ilimitado a la maravillosa riqueza de la literatura y el conocimiento.
    <br/><br/>
    Nuestra Historia
    <br/>
    Fundada por amantes de la lectura y buscadores del conocimiento, Nutriti di Conoscimento abrió sus puertas por primera vez en 1999 con la visión de convertirse en un faro cultural para nuestra comunidad. Desde entonces, hemos estado comprometidos con la difusión del amor por la lectura y el aprendizaje.
    <br/><br/>
    Nuestra Misión
    <br/>
    En Nutriti di Conoscimento, nuestra misión es promover la importancia de la educación y el enriquecimiento personal a través de la lectura. Creemos que cada libro es una puerta a nuevas perspectivas, emociones y descubrimientos. Queremos ser el puente que conecta a las personas con ideas, historias y conocimientos transformadores.
    <br/><br/>
    Nuestra Colección
    <br/>
    En nuestras estanterías, encontrarás una amplia variedad de géneros literarios, desde novelas clásicas hasta los últimos bestsellers, pasando por obras de no ficción, poesía, historia y ciencia. Nuestra colección está cuidadosamente seleccionada para satisfacer los gustos y curiosidades de todos los lectores.
    <br/><br/>
    Servicio Personalizado
    <br/>
    Nuestro equipo de apasionados amantes de los libros está siempre dispuesto a recomendar lecturas, ofrecer asesoramiento y ayudarte a encontrar ese libro especial que estás buscando. Organizamos eventos literarios, clubes de lectura y actividades para fomentar la conexión entre lectores y la comunidad.
    <br/><br/>
    Únete a Nuestra Comunidad Literaria
    <br/>
    En Nutriti di Conoscimento, te invitamos a unirte a nuestra comunidad literaria. Ya seas un ávido lector, un estudiante ávido o alguien que busca un refugio tranquilo para la exploración literaria, aquí encontrarás un hogar para tu pasión por los libros.
    <br/><br/>
    Gracias por ser parte de nuestra historia. Esperamos verte en la tienda y compartir la alegría de la lectura y el aprendizaje contigo.
    <br/>
    ¡Bienvenido a Nutriti di Conoscimento!"
</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}