{% comment %} {% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Change Password</h1>
            <p class="lead fw-normal text-white-50 mb-0">Change your account password</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <br/><br/>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br/><br/>
                <button type="submit" class="btn btn-secondary">
                    Change Password
                </button>
            </form>
            <br/><br/>
            <a href="{% url 'register' %}" class="btn btn-secondary">Register</a>
        </div>
    </div>
</div>
{% endblock %} {% endcomment %}
